/*------------------------------------------------------*
*-- CSS Drupal 6--------------*
*------------------------------------------------------*/

/*------------------------------------------------*
 *---  Provence Formation 2011 --*
 *------------------------------------------------*/
/*------- EFFETS VISUELS GENERIQUES--------------*/
.ombrage {
    border: 5px solid #fff;
    -moz-box-shadow: 8px 8px 12px #aaa;
    -webkit-box-shadow: 8px 8px 12px #aaa;
    box-shadow: 8px 8px 12px #555;
}
.ombrage_bas {

    -moz-box-shadow: 2px 2px 5px #aaa;
    -webkit-box-shadow: 2px 2px 5px #aaa;
    box-shadow: 2px 2px 5px #555;
}
.table_tr_ombrage_bas{
    -moz-box-shadow: 1px 2px 2px #aaa;
    -webkit-box-shadow: 1px 2px 2px #aaa;
    box-shadow: 1px 2px 2px #555;
}
.ombrage_bloc {

    -moz-box-shadow: 2px 2px 5px #aaa;
    -webkit-box-shadow: 2px 2px 5px #aaa;
    box-shadow: 2px 2px 5px #555;
}
.ombrage_bas_table_actu{
    -moz-box-shadow: 2px 2px 5px #aaa;
    -webkit-box-shadow: 2px 2px 5px #aaa;
    box-shadow: 2px 2px 5px #555;
}
 
/*------- COULEURS DE BASE POUR CSS---------------∕∕
rouge #E2001A
rose #E2007A
orange #F29400
bleu #00AAD2
vert #C8D215
jaune #F8E91B
violet #93117E
gris clair #9C9E9F
gris fonce #606171
orange fonce logo #DE603A
∕∕------- FIN COULEURS ---------------*/
/**********STYLE POUR LES BLOCS*******************/

/**----HEADER---***/


/**----MIDDLE---***/
#middle-content p{
	color:#000;
	padding: 3px;

}

.item-list ul li {
list-style-image:none;
list-style-position:none;
list-style-type:none;
margin:0 0 0.25em 1.5em;
padding:0;
}

.item-list ul{
	margin: 0;
	padding: 0;
	list-style-type:none;
}

/*style lien en savoir plus*/
li.node_read_more a{
color : red;
text-decoration: none;
text-align:left;
}
li.node_read_more a:hover{
text-decoration: underline;
}



/*---------------------------*/
/**----CONTENT TOP---***/
#content-header{
padding: 5px;
}
/**style du fil d'ariane**/
.breadcrumb {
color:#C0c0c0;
text-decoration:none;
}
.breadcrumb a{
color:#9C9DA1;
text-decoration:none;
}
.breadcrumb a:hover{
color:#000;
text-decoration:underline;
}
/**----CONTENT BOTTOM---***/
#content-top{}
.taxonomy{
text-align:right;
padding: 3px;
margin: 0px;
}
.taxonomy a{
color: #FF00FF;
text-decoration:none;
}
.taxonomy a:hover{
text-decoration:underline;
}
/*----page login------*/
#user-login{
margin: auto;
width: 450px;
padding:10px 0;
}
/**----COLONNE GAUCHE---***/
#left-content p{
	color:#000;

}
#left-content a{
	color:#666666;
	text-decoration:none;
}
#left-content a:hover{
	color:#990000;
	text-decoration:underline;
}
#left-content li{
	margin:0;
	padding: 0;
	list-style:none;
}
/**----COLONNE DROITE---***/
#right-content p{
	color:#000;

}
#right-content a{
	color:#666666;
	text-decoration:none;
}
#right-content a:hover{
	color:#990000;
	text-decoration:underline;
}
#right-content li{
	margin:0;
	padding: 0;
	list-style:none;
}
/**----FOOTER---***/
#footer a{
color: #9898a6;
text-decoration:none;
}
#footer a:hover{
color: #000000;
}

 /*------------------------------------------------------*
  *------------ CSS H  ----*
  *------------------------------------------------------*/
  
h1 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 20px;
}
  
h2 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 18px;
}
h2.title{
	margin: 5px;
	padding: 0;
	color:#000;
	font-size: 18px;
}
h2.title a{
	color:#EF1D1D;
}
h3 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 16px;
}
h4 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 14px;
}
h5 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 12px;
}
h6 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 10px;
}
/*-----------------------------------------------
*********  PAGE VIE DU LYCEE GLOBALE ***********
------------------------------------------------
*/
/*Bloc image pour affichage en colonne (sortie table)*/
#bloc_vdl_sortie{
    width: auto;
    float: left;
    padding: 0;
    margin: 0 auto;
   
  
}
#bloc_vdl_sortie h3{
    font-family: Arista,Trebuchet MS,sans serif;
    font-size: 24px;
    color: #93117E;
    text-align: center;
    padding: 5px 0;
    height: 50px;
}
#bloc_vdl_sortie{}
.image_vdl{}
.image_vdl{
    border: 0px solid #9C9E9F;
}
/*Bloc image pour affichage en colonne (sortie liste html)*/
.item-liste-vdl{}
.item-liste-vdl ul{
    margin: 0 auto;
    width: 180px;
}
.item-liste-vdl  li{
    display: block;
    height: 180px;
    width: 180px;
    margin: 0;
    padding: 0;
}
.item-liste-vdl a{}
.item-liste-vdl a:hover{
    color: #F9F7F7;
}
.item-liste-vdl li:hover{
opacity:0.7;
-moz-opacity : 0.7;
-ms-filter: "alpha(opacity=70)"; /* IE 8 */
filter : alpha(opacity=70); /* IE < 8 */
}
.img-gs-hover {
	opacity:100;
}
/*Lien voir archives selon colonne*/
#colonne-sortie-action a.archives_vdl,#colonne-projet a.archives_vdl,
#colonne-intervenants a.archives_vdl,
#colonne-innovations a.archives_vdl,
#colonne-mini-stage a.archives_vdl{
    color: #606171;
}


#colonne-sortie-action a:hover.archives_vdl,#colonne-projet a:hover.archives_vdl,
#colonne-intervenants a:hover.archives_vdl,
#colonne-innovations a:hover.archives_vdl,
#colonne-mini-stage a:hover.archives_vdl{
    background: #606171;
    color: white;
}

/* CSS commune pour un bloc*/
a.archives_vdl{
    text-align: right;
    color: red;
    text-decoration: none;
    padding: 2px;
}
a:hover.archives_vdl{
    background: red;
    color: white;
}

.transparency_vdl{
background:none repeat scroll 0 0 #9C9DA1;
top: -65px;
width: 180px;
height:60px;
left:0px;
position:relative;
z-index:15;
opacity:0.6;
-moz-opacity : 0.6;
-ms-filter: "alpha(opacity=60)"; /* IE 8 */
filter : alpha(opacity=60); /* IE < 8 */
}
.bloc_image_vdl{
position:relative;
bottom: 10%;
left: 10px;
color: white;
z-index:20;
}
.bloc_image_vdl h2{
color: white;
padding:5px;
font-family: 'Arimo',Trebuchet MS,sans-serif;
position:relative;
right: 12px;
top: -127px;
text-shadow: 2px 2px 3px #1a181a;
filter: dropshadow(color=#1a181a, offx=2, offy=2);

}

.bloc_image_vdl a{
color: white;
text-decoration: none;
}
/*-----------------------------------------------
*********  PAGE POLE FORMATION GLOBALE ***********
------------------------------------------------
*/
/*----------- STYLES POUR PAGE POLE ------------------*/
h1.title-page-bloc{
    font-size: 24px;
    font-family: arista,Trebuchet MS, sans-serif;
    text-align: center;
    color: #911381;
    text-transform: uppercase;
    margin: 0 0 20px 0
}
h3.block-title{
    font-size: 18px;
    margin: 20px 25px;
    display: block;
    width: 150px;
    font-family: arista,Trebuchet MS, sans-serif;
}
#middle-content-pole .view-content h3{
    color: #95107D;
    text-decoration: none;
    padding: 2px;

}
#middle-content-pole .views-field-title {
   font-size: 14px;

}
#middle-content-pole .views-field-title a{
    color: #AEC821;
    text-decoration: none;
    padding: 2px;

}
#middle-content-pole .views-field-title a:hover{
    background: #AEC821;
    color: white;
}

#block-views-liste_formation_poles-block_1, #block-views-liste_formation_poles-block_2, #block-views-liste_formation_poles-block_3 {
    padding: 30px 0 0;
}
#block-views-liste_formation_poles-block_2 h3.block-title{
    color: #01AAD3;
}
#block-views-liste_formation_poles-block_1 h3.block-title{
    color: #C7D31B;
}
#block-views-liste_formation_poles-block_3 h3.block-title{
    color: #95137D;
}

#block-views-liste_formation_poles-block_1{
   background: white url('../images/bg_pole_enseignement_pro.jpg') no-repeat top left;
}
#block-views-liste_formation_poles-block_2{
     background: white url('../images/bg_pole_enseignement_gen_techno.jpg') no-repeat left 1px;
}
#block-views-liste_formation_poles-block_3{
     background: white url('../images/bg_pole_enseignement_sup.jpg') no-repeat top left;
}
.bloc-vue-enseignement-pro, .bloc-vue-enseignement-general,.bloc-vue-enseignement-superieur{
    width: auto;
    display: block;
    padding: 15px 20px;

}
/*H3 de couleur differente selon pole*/
.bloc-vue-enseignement-general h3, .bloc-vue-enseignement-superieur h3,.bloc-vue-enseignement-pro h3{
    font-family: arista,Trebuchet MS,sans-serif;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    width: 245px;
    background: white;
}
/*TABLE PAGE FORMATION PAR POLES*/
.table_bloc_form_pole{
    width: 98%;
}

.table_bloc_form_pole td{
    margin: 2px 0;
    padding: 4px 0;
    border-bottom: 1px solid #94127F;
}
/*-----------------------------------------------
*********  FICHE FORMATION STYLE ***********
------------------------------------------------*/
#entete-fiche-formation{
    margin: 0 auto;
    width: 990px;
}
.titre_fiche-formation{
    width: 440px;
    text-shadow: 1px 1px 2px #D0D1D2;
    filter: dropshadow(color=#D0D1D2, offx=1, offy=1);
}
.titre-sup{color: #950F7E;}
.titre-pro{color: #C7D31B;}
.titre-techno{color: #01AAD3;}
#intro-fiche-formation{
    float: right;
    width: 585px;
    padding: 20px 10px
}
#intro-fiche-formation h2{
    display: block;
    width: 440px;
}
#intro-fiche-formation p{
    padding: 2px;
    width: 440px;
    display: block;
}
#intro-fiche-formation ul{
    padding: 2px;
    width: 440px;
    display: block;
}
#illustration-slider{
    float: left;
    width: 350px;
    margin: 0;
    padding: 0;
  
}
#slider-fiche {
    padding: 0;
    
}
#slider-fiche img{
      -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 5px solid #F2F6F7;
    -moz-box-shadow: 3px 3px 10px #555555;
    -webkit-box-shadow: 3px 3px 10px #555555;
    box-shadow: 3px 3px 10px #555555;
}
hr.fin-entete-fiche{
    border: 2px;
    height: 1px;
    margin: 0 auto;
    width: 95%;
   
}
/*Bloc documents utiles*/
#docs-utiles-fiche-formation{
    
}
#docs-utiles-fiche-formation h3{
    font-size: 18px;
    font-family: arista,Trebuchet MS, sans-serif;
    color: #E10279;
    margin: 5px 0;
     text-align: center;
}
.view-Documents-utiles-fiche-formation{
    
}
table#tb-docs-utiles-fiche-formation {
    background: transparent url('../images/bg_doc_utile_ficheform.jpg') no-repeat top left;
    margin: 0 auto;
    padding: 15px 5px 5px;
    width: 160px;
    display: block;
    list-style: none;
}
#tb-docs-utiles-fiche-formation tr{
    width: 160px;
    text-align: center;
}
#tb-docs-utiles-fiche-formation td{
    width: 160px;
    text-align: center;
}
#tb-docs-utiles-fiche-formation tbody{}
#tb-docs-utiles-fiche-formation a{
     background: none repeat scroll 0 0 #EFEFEF;
  
    color: black;
    display: block;
    margin: 5px 0;
    text-align: center;
    text-decoration: none;
    width: 150px;
     -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;

}
#tb-docs-utiles-fiche-formation .filefield-icon {
    display: none;
}
#tb-docs-utiles-fiche-formation a:hover {
    background: white;
}
/*Fiche formation pro*/
.fiche-formation-pro-bg{
    background: transparent url('../images/bg_titre_fiche_pro.jpg') no-repeat top left;
}
.fiche-formation-pro h2{
    color: #C7D31B;
    padding: 2px;
    width: 360px;
}
.fiche-formation-pro h3{

}
.fiche-formation-pro p{
    padding: 2px;
}
.fiche-formation-pro a{

}
.fiche-formation-pro a:hover{

}
.fiche-formation-pro ul{
    list-style-position: inside;
    list-style-type: circle;
     padding: 5px;
}
.fiche-formation-pro li{
    color: #62616F;
}
hr.fiche-formation-pro{
    background: #C7D31B;
}
/*Fiche formation techno*/
.fiche-formation-techno-bg{
    background: transparent url('../images/bg_titre_fiche_techno.jpg') no-repeat top left;
}
.fiche-formation-techno h2{
    color: #01ABCF;
     padding: 2px;
}
.fiche-formation-techno h3{
      color: #01ABCF;
     padding: 2px;
}
.fiche-formation-techno p{
     padding: 2px;
}
.fiche-formation-techno a{
    color: #01ABCF;
     padding:  0 2px;
     text-decoration: none;
}
.fiche-formation-techno a:hover{
    color: black;
    background: #01ABCF;
}
hr.fiche-formation-techno{
    background: #01ABCF;
}
.fiche-formation-techno ul{
    list-style-position: inside;
    list-style-type: circle;
     padding: 5px;
}
.fiche-formation-techno li{
    color: #62616F;
}
/*Fiche formation supérieur*/
.fiche-formation-superieur-bg{
    background: transparent url('../images/bg_titre_fiche_superieur.jpg') no-repeat top left;
}


.fiche-formation-superieur h2{
     color: #E10279;
    padding: 2px;
}
.fiche-formation-superieur h3{

}
.fiche-formation-superieur a{

}
.fiche-formation-superieur a:hover{

}
hr.fiche-formation-superieur{
    background: #950F7E;
}
.fiche-formation-superieur p{
    padding: 2px;
    color: #606171;
}
.fiche-formation-superieur ul{
    list-style-position: inside;
    list-style-type: circle;
     padding: 5px;
}
.fiche-formation-superieur li{
    color: #62616F;
}
/*----------------------------------------
*****~~~~~~ PAGE LYCEE ~~~~~~~~~~~~*********
------------------------------------------*/
h1.titre_pl{
    font-size: 24px;
    color: #911381;
    line-height: 1.0em
}
h1.titre_pl a{}
h1.titre_pl a:hover{}
/*######-------- COLONNE G1 --------######*/
#pageLycee_col_G1 h2{}
#pageLycee_col_G1 h3{}
#pageLycee_col_G1 h4{}
#pageLycee_col_G1 p{}
#pageLycee_col_G1 ul{}
#pageLycee_col_G1 img{
     border: 5px solid #fff;
    -moz-box-shadow: #AAAAAA 0px 0px 5px ;
    -webkit-box-shadow: #AAAAAA 0px 0px 5px;
    box-shadow: #AAAAAA 0px 0px 5px;
}

#pageLycee_col_G1 a{}
#pageLycee_col_G1 a:hover{}

#pageLycee_col_G1 h2 a{}
#pageLycee_col_G1 h2 a:hover{}
#pageLycee_col_G1 h3 a{}
#pageLycee_col_G1 h3 a:hover{}
#pageLycee_col_G1 h4 a{}
#pageLycee_col_G1 h4 a:hover{}
/*######-------- COLONNE G2 --------######*/
#pageLycee_col_G2 h2{
    color: #ACC624;
    padding: 5px;
}
#pageLycee_col_G2 h3{
    color: #911381;
    padding: 5px;
}
#pageLycee_col_G2 h4{
    padding: 5px;
    color: #F29803;
}
#pageLycee_col_G2 p{
    padding: 5px;
}
#pageLycee_col_G2 ul{
    padding: 5px;
}
#pageLycee_col_G2 img{

}

#pageLycee_col_G2 a{}
#pageLycee_col_G2 a:hover{}

#pageLycee_col_G2 h2 a{}
#pageLycee_col_G2 h2 a:hover{}
#pageLycee_col_G2 h3 a{}
#pageLycee_col_G2 h3 a:hover{}
#pageLycee_col_G2 h4 a{}
#pageLycee_col_G2 h4 a:hover{}

/*######-------- COLONNE G3 --------######*/
#pageLycee_col_G3 h2{}
#pageLycee_col_G3 h3{}
#pageLycee_col_G3 h4{}
#pageLycee_col_G3 p{}
#pageLycee_col_G3 ul{}
#pageLycee_col_G3 img{

}

#pageLycee_col_G3 a{}
#pageLycee_col_G3 a:hover{}

#pageLycee_col_G3 h2 a{}
#pageLycee_col_G3 h2 a:hover{}
#pageLycee_col_G3 h3 a{}
#pageLycee_col_G3 h3 a:hover{}
#pageLycee_col_G3 h4 a{}
#pageLycee_col_G3 h4 a:hover{}

/*--------- LISTE VUE FICHIERS DOCS JOINTS (Colonne G3)--------*/
#bloc_docs_utiles_plycee h3{
    text-align: center;
    color: #AFC824;
    font-family: arista,Trebuchet MS, sans-serif;
    font-size: 2.0em;
    margin: 5px;

}
#bloc_docs_utiles_plycee{
    width: 190px;
    margin: 0 auto;
}
#bloc_docs_utiles_plycee table{
    width: 215px;
   
}
#bloc_docs_utiles_plycee thead{
    display: none;
}
#bloc_docs_utiles_plycee tbody{}
#bloc_docs_utiles_plycee td{}
#bloc_docs_utiles_plycee tr{}

.liste_docs_joints {
    width: 190px;
    margin: 0 auto;
     background: transparent url(../images/bg_docs_utiles_lycee.jpg) repeat ;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 5px;
    list-style: none;
}
.liste_docs_joints div{
    margin: 5px 0;
}

.liste_docs_joints span{
    margin: 2px 0;
}

.liste_docs_joints  a{
    font-weight: bold;
    text-decoration: none;
    padding: 3px;
    color:  #3F3F3F;
    background: white;

}
.liste_docs_joints a:hover{
    text-decoration: none;
    background: #EFEFEF;
   
    }
.liste_docs_joints .filefield-icon {
display: none;
}
/*------ LISTE VUE ACTU LYCEE CAUCADIS ACTU (Colonne G3) ---------*/
#caucadis-actu{
    width: 190px;
    margin: 0 auto;
}
#caucadis-actu ul{
    margin: 0 auto;
    width: 215px;
    background: transparent url(../images/bg_caucadis_actu.jpg) no-repeat top left ;
    -moz-border-radius: 5px;
    border-radius: 5px;
    list-style: none;
    padding: 5px;
}
#caucadis-actu li{
    padding: 3px 0;
    margin: 0;
}
#caucadis-actu h3{
    color: #94127F ;
    font-family: arista,Trebuchet MS, sans-serif;
    font-size: 2.0em;
    margin:5px;
    display: block;
    text-align: center;

}
#caucadis-actu  a{
    color:  #3F3F3F;
    background: #EFEFEF;
    display: block;
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
}
#caucadis-actu  a:hover{
    background: #9C9D9F;
    color: white;
}
.caucadis-actu-item{
    width: 185px;
    margin: 2px 0;;



}
li.caucadis-actu-item a{
     -moz-border-radius: 5px;
    border-radius: 5px;
}
/*----------------------------------------
*****~~~~~~ PAGE ACTU GLOBALE ~~~~~~~~~~~~*********
------------------------------------------*/

/*PARAM COMMUNS*/
.bloc_actu_globale{
    border: 2px solid #9C9DA1;
     margin: 10px;
    -moz-box-shadow: 1px 2px 2px #aaa;
    -webkit-box-shadow: 1px 2px 2px #aaa;
    box-shadow: 1px 2px 2px #555;
}

.bloc_actu_globale h3{
     font-size: 24px;
    display: block;
    background: transparent;
    font-family: arista,Trebuchet MS, sans-serif;
    margin:5px 5px 10px;
}

.bloc_actu_globale img{
    float: left;
    border: 1px solid #9C9DA1;
    margin: 9px;
}
.bloc_actu_globale a{
     font-size: 14px;
     text-decoration: none;
}
hr.separation-actu-globale{
    border: 2px;
    height: 1px;
    margin: 0 auto;
    width: 95%;
}
/* BLOC SORTIE-ACTION */

.bloc_sortie_action h3{
    color: #E0001A;
    
}
.bloc_sortie_action {
    background: transparent url(../images/bg_actu_globale_rouge.jpg) no-repeat scroll 13em 0.4em;
}
#actu_globale_sortie a{
   color: #E0001A;
    

}
#actu_globale_sortie a:hover{
    text-decoration: underline;

}
hr.sep_sortie_action {
   background: #E0001A;
}
/* BLOC PROJET */

#actu_globale_projet h3{
    color: #02A7D5;

}
.bloc_projet {
    background: transparent url(../images/bg_actu_globale_bleu.jpg) no-repeat scroll 7em 0.4em;
}
#actu_globale_projet a{
   color: #02A7D5;


}
#actu_globale_projet a:hover{
    text-decoration: underline;

}
hr.sep_projet {
   background: #02A7D5;
}
/* BLOC INNOVATIONS */

.bloc_innovation h3{
    color: #94127F;

}
.bloc_innovation {
    background: transparent url(../images/bg_actu_globale_violet.jpg) no-repeat scroll 11em 0.4em;
}
#actu_globale_sortie a{
   color: #94127F;


}
#actu_globale_sortie a:hover{
    text-decoration: underline;

}
hr.sep_innovation {
   background: #94127F;
}
/* BLOC INTERVENANT */

.bloc_intervenant h3{
    color: #AEC81F;

}
.bloc_intervenant {
    background: transparent url(../images/bg_actu_globale_vert.jpg) no-repeat scroll 12em 0.4em;
}
#actu_globale_sortie a{
   color: #AEC81F;


}
#actu_globale_sortie a:hover{
    text-decoration: underline;

}
hr.sep_intervenant {
   background: #AEC81F;
}
/* BLOC MINI-STAGE */

.bloc_mini_stage h3{
    color: #9D9EA0;

}
.bloc_mini_stage {
    background: transparent url(../images/bg_actu_globale_gris.jpg) no-repeat scroll 11em 0.4em;
}
#actu_globale_sortie a{
   color: #9D9EA0;


}
#actu_globale_sortie a:hover{
    text-decoration: underline;

}
hr.sep_mini_stage {
   background: #9D9EA0;
}
/* BLOC RP */

.bloc_rp h3{
    color: #F39300;

}
.bloc_rp {
    background: transparent url(../images/bg_actu_globale_orange.jpg) no-repeat scroll 13em 0.4em;
}
#actu_globale_sortie a{
   color: #F39300;


}
#actu_globale_sortie a:hover{
    text-decoration: underline;

}
hr.sep_rp {
   background: #F39300;
}
/* BLOC ANNONCE */

.bloc_annonce h3{
    color: #E3007A;

}
.bloc_annonce {
    background: transparent url(../images/bg_actu_globale_rose.jpg) no-repeat scroll 13em 0.4em;
}
#actu_globale_sortie a{
   color: #E3007A;


}
#actu_globale_sortie a:hover{
    text-decoration: underline;

}
hr.sep_annonce {
   background: #E3007A;
}
/***************************/
/*Partie Vue liste simple*/
/*PARAM COMMUNS*/
.bloc_actu_globale_items_sortie{

}
.bloc_actu_globale_items ul{
    list-style: circle;
}
.bloc_actu_globale_items li{
    list-style: circle;
}
.bloc_actu_globale_items a{
     font-size: 14px;
    
     text-decoration: none;
}
.bloc_actu_globale_items a:hover{
     text-decoration: underline;
}
/*LISTE SORTIE*/
#items_sortie li{
      list-style: circle;
}
#items_sortie a{
     color: #E0001A;
}
#items_sortie a:hover{}
/*LISTE PROJET*/
#items_projet a{
     color: #02A7D5;
}
#items_projet a:hover{}
#items_projet li{
     list-style: circle;
}
/*LISTE INNOVATIONS*/
#items_innovation a{
     color: #94127F;
}
#items_innovation a:hover{}
#items_innovation li{
     list-style: circle;
}
/*LISTE INTERVENANTS*/
#items_intervenant a{
     color: #AEC81F;
}
#items_intervenant a:hover{}
#items_intervenant li{
     list-style: circle;
}
/*LISTE MINI-STAGE*/
#items_mini_stage a{
     color: #9D9EA0;
}
#items_mini_stage a:hover{}
#items_mini_stage li{
     list-style: circle;
}
/*LISTE RP*/
#items_rp a{
     color: #F39300;
}
#items_rp a:hover{}
#items_rp li{
     list-style: circle;
}
/*¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨
------ ARCHIVES VDL ---------
*/
#table_archives_vdl thead th{
    border: 0;
    background: none;
}
#table_archives_vdl tbody{
    width: 95%;
    margin: 0 auto;
    display: block;
}
#table_archives_vdl tr{
    margin: 3px 0;
    display: block;
    background: none;
    border: none;
    padding: 0;
}
#table_archives_vdl td{
    background: #f4f5f5;
    border: 3px solid #d0d1d2;
    padding: 5px;
}
#table_archives_vdl td a{
    color: #01ABCF;
    font-size: 14px;
    text-decoration: none;
    padding: 2px;
}
#table_archives_vdl td a:hover{
    background: #01ABCF;
    color: white;
}
#table_archives_vdl{}
#table_archives_vdl{}
/*¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨
------ CONTENU VDL ---------
*/
#bloc-medias-vdl{
    display: block;
    margin: 0 auto;
    padding: 10px;
}
#bloc-galerie-vdl {
    width: 540px;
    margin: 0;
    padding: 0;
}
#bloc-galerie-vdl h3{
    text-align: center;
    font-family: arista,Trebuchet MS, sans-serif;
    font-size: 2.0em;
    margin: 5px;
    color: #94127F;
    
}
#bloc-galerie-vdl .overlay-inner p{
    color: white;
}
#bloc_docs_utiles_vdl h3{
    text-align: center;
    color: #01AAD3;
    font-family: arista,Trebuchet MS, sans-serif;
    font-size: 2.0em;
    margin: 5px;

}
#bloc_docs_utiles_vdl{
    width: 190px;
    margin: 0 auto;
}
#bloc_docs_utiles_vdl table{
    width: 190px;
}
#bloc_docs_utiles_vdl thead{
    display: none;
}
#bloc_docs_utiles_vdl tbody{}
#bloc_docs_utiles_vdl tr{}
#bloc_docs_utiles_vdl td{}
.liste_docs_joints_vdl {
    width: 170px;
    margin: 0 auto;
     background: transparent url(../images/bg_docs_utiles_lycee.jpg) repeat ;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 5px;
    list-style: none;
}
.liste_docs_joints_vdl div{
    margin: 5px 0;
}

.liste_docs_joints_vdl span{
    margin: 2px 0;
}

.liste_docs_joints_vdl  a{
    font-weight: bold;
    text-decoration: none;
    padding: 3px;
    color:  #3F3F3F;
    background: white;
    -moz-border-radius: 5px;
    border-radius: 5px;

}
.liste_docs_joints_vdl a:hover{
    text-decoration: none;
    background: #EFEFEF;
   
    }
.liste_docs_joints_vdl .filefield-icon {
display: none;
}

/*---- AUTRES EVENEMENTS VDL ------*/
#bloc_vdl_autres_evenements{}
#bloc_vdl_autres_evenements h3{
    text-align: center;
    color: #AFC824;
    font-family: arista,Trebuchet MS, sans-serif;
    font-size: 2.0em;
    margin: 5px;
}
#bloc_vdl_autres_evenements{}
.liste-autre-evenement{
  
  
}
.liste-autre-evenement li{
    display: block;
   
}
.liste-autre-evenement li a{
    font-weight: bold;
    text-decoration: none;
    padding: 3px;
    color:  #3F3F3F;
    background: white;
    -moz-border-radius: 5px;
    border-radius: 5px;
     margin: 2px;
}
.liste-autre-evenement li a:hover{
    background: #01ABCF;
    color: white;
}
.liste-autre-evenement{}
#bloc_vdl_autres_evenements{
    width: 190px;
    margin: 0 auto;
}
#bloc_vdl_autres_evenements ul{
      width: 170px;
    margin: 0 auto;
     background: transparent url(../images/bg_caucadis_actu.jpg) repeat top right ;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 5px;
    list-style: none;
}
#bloc_vdl_autres_evenements li{
    padding: 3px 0;
    margin: 0;
}
#bloc_vdl_autres_evenements h3{
    color: #94127F ;
    font-family: arista,Trebuchet MS, sans-serif;
    font-size: 2.0em;
    margin:5px;
    display: block;
    text-align: center;

}
#bloc_vdl_autres_evenements  a{
    color:  #3F3F3F;
    background: #EFEFEF;
    display: block;
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
}
#bloc_vdl_autres_evenements  a:hover{
    background: #9C9D9F;
    color: white;
}
.bloc_vdl_autres_evenements-item{
    width: 185px;
    margin: 2px 0;;



}
li.bloc_vdl_autres_evenements-item a{
     -moz-border-radius: 5px;
    border-radius: 5px;
}