/**
 * @file
 * Stark layout method
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * Stark theme itself has no styling, except just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 *
 * This layout method works reasonably well, but shouldn't be used on a
 * production site because it can break. For example, if an over-large image
 * (one that is wider than 20% of the viewport) is in a sidebar, the entire
 * #main content can shift completely below the sidebar.
 */
 /*------- TYPOS CUSTOM ---------------*/
@font-face {
    font-family : "Arista";
    src: url(../typos/Arista2.0_light.eot); /* IE */
    src: local("Arista"), url(../typos/Arista2.0_light.ttf) format('truetype');/* non-IE */
}
/*------- FIN TYPOS CUSTOM ---------------*/
/*------- COULEURS DE BASE POUR CSS---------------∕∕
rouge #E2001A
rose #E2007A
orange #F29400
bleu #00AAD2
vert #C8D215
jaune #F8E91B
violet #93117E
gris clair #9C9E9F
gris fonce #606171
orange fonce logo #DE603A
∕∕------- FIN COULEURS ---------------*/

html {
 margin: 0;
 padding: 0;
}


body {
	margin: 0;
	padding: 0;
	font-family: Trebuchet MS, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	background-color: white;
	color: gray;
}
ul,li,dl,dd,dt{
    list-style-position: inside;
}

 /*------------------------------------------------------*
  *--------    CSS BLOCS     						 ----*
  *------------------------------------------------------*/


#general{
	margin:0 auto;
	padding:0;
	width:100%;
}

/*Haut de page  HEADER*/

#header{
	margin:0 auto;
	padding:0;
	width:990px;
	height:auto;
	background-color:white;
}

/*Contenu de page  CONTENT */

#contentPage {
	margin:0 auto;
	padding:0;
	width: 990px;
	background-color:white;
}
#content-inner,#left-content,#right-content{
height: 100%;
}
/*----------------------------------
     ///////////////\\\\\\\\\\\\\\\
**** TEMPLATE PAGE.TPL ET NODE.TPL ***
      \\\\\\\\\\\\\\\///////////////
-------------------------------------*/
/*//////SOUS ENTETE/////*/
#content-top{
	margin:0 auto;
	padding:5px;
	width:850px;
	height:auto;
	background-color: white;
	}

/*/// debut des colonnes ///*/
#left-content{
	float:left;
	position:relative;
	background-color:transparent;
	width:200px;
	left:0px;
        display: table-column;
}

/*/// partie de droite ///*/
#right-content{
	float:left;
	position:relative;
	background-color:transparent;
	width:200px;
	right:0px;
        display: table-column;
}
/*inner content*/
#content-inner{
    width:990px;
    margin:0 auto;
    float:left;
    background-color:transparent;

}
/*///    partie du centre   ///*/
#middle-content{
	float:left;
	position:relative;
	background-color:transparent;
	width:auto;
	padding:5px;
        display: table-column;


}

/*PIED DE CONTENU*/
#content-bottom{
background:transparent;
width:590px;
}

/*Bas de page  FOOTER*/

#footer{
	margin:0 auto;
	padding:5px 0;
	width:980px;
	background: white url(../images/bg_footer.jpg) no-repeat bottom right;
	text-align: left;
	color: #9898a6;
        height:50px;
        font-size: 11px;
}


#bloc_stats{
    color:red;
    margin:0 auto;
    width:600px;
}
/**----Fin FOOTER---***/
/*//////////§§§§§§§\\\\\\\\\\\\
¤¤¤¤¤¤   TEMPLATE CUSTOM  ¤¤¤¤¤¤¤¤¤¤¤¤
*/
/*---------------------------------------------------
LAYOUT POUR PAGE.TPL FICHE FORMATION
---------------------------------------------------*/
#content-inner-fiche-formation{
    width: auto;
    margin:0;
float:left;
background-color:transparent;
}
#middle-content-fiche-formation{
    width: auto;
    padding: 5px;
    float: left;

}
/*---------------------------------------------------
LAYOUT POUR NODE.TPL FICHE FORMATION
---------------------------------------------------*/
#fiche_col_G1{
    float: left;
    width: 200px;
    background: transparent;
    height: 100%;
    display: table-column;
     border-right: 1px solid #ADC821;
}
#fiche_col_G2{
    float: left;
    width: 208px;
    background: transparent;
    height: 100%;

    display: table-cell;
}
#fiche_col_G3{
    float: left;
    padding: 5px;
    width: 560px;
    background: transparent;
    height: 100%;
    border-left: 1px solid #91127D;
    display: table-cell;
}
/*---------------------------------------------------
LAYOUT POUR PAGE.TPL PAGE VUE BLOC POLES
---------------------------------------------------*/
#content-inner-pole{
    width: auto;
    margin:0;
    float:left;
    background-color:transparent;
}
#middle-content-pole{
    width: auto;
    padding: 5px;
    float: left;

}
#bloc-gauche-pole{
    width: 325px;
    float: left;
    margin: 0;
    padding: 0;
}
#bloc-centre-pole{
    width: 325px;
    float: left;
    margin: 0;
    padding: 0;
}
#bloc-droit-pole{
    width: 325px;
    float: left;
    margin: 0;
    padding: 0;
}
/*\\\\\\\\\\\\\//////////////////
---------------------------------------------------
LAYOUT POUR PAGE.TPL PAGE LYCEE
---------------------------------------------------*/
#content-inner-page-lycee{
    width: auto;
    margin:0;
    float:left;
    background-color:transparent;
}
#middle-content-page-lycee  {
    width: auto;
    padding: 5px;
    float: left;

}
/*---------------------------------------------------
LAYOUT POUR NODE.TPL PAGE LYCEE
---------------------------------------------------*/

#pageLycee_col_G1{
    float: left;
    width: 190px;
    background: transparent;
    height: 100%;
    display: table-column;

}
#pageLycee_col_G2{
    float: left;
    width: 555px;
    background: transparent;
    height: 100%;
    display: table-cell;
     border-right: 1px solid #ADC821;
     border-left: 1px solid #91127D;
}
#pageLycee_col_G3{
    float: left;
    padding: 5px;
    width: 210px;
    background: transparent;
    height: 100%;
    display: table-cell;
}
/*\\\\\\\\\\\\\//////////////////
---------------------------------------------------
LAYOUT POUR PAGE.TPL PAGE LYCEE
---------------------------------------------------*/
#content-inner-vdl{
    width: auto;
    margin:0;
    float:left;
    background-color:transparent;
}
#middle-content-vdl{
    width: auto;
    padding: 5px;
    float: left;
}
/*---------------------------------------------------
LAYOUT POUR NODE.TPL PAGE VDL
---------------------------------------------------*/

#pageSortieActions_col_G1{
    float: left;
    width: 190px;
    background: transparent;
    height: 100%;
    display: table-column;
}
#pageSortieActions_col_G2{
    float: left;
    width: 555px;
    background: transparent;
    height: 100%;
    display: table-cell;
     border-right: 1px solid #ADC821;
     border-left: 1px solid #91127D;
}
#pageSortieActions_col_G3{
    float: left;
    padding: 5px;
    width: 210px;
    background: transparent;
    height: 100%;
    display: table-cell;
}
/*\\\\\\\\\\\\\//////////////////
---------------------------------------------------
LAYOUT POUR PAGE.TPL PAGE VDL-LISTE globale
---------------------------------------------------*/

/*inner content*/
#content-inner-vdl{
    width:auto;
    margin:0 auto;
    float:left;

}
.middle-vdl-global{
    left: 50px;
}

/*///    partie du centre   ///*/
#middle-content-vdl{
	float:left;
	position:relative;
	background-color:transparent;
	width:auto;
	padding:5px;
}
#colonne-sortie-action, #colonne-projet, #colonne-intervenants, #colonne-innovations, #colonne-mini-stage{
    float: left;
    width: 180px;
    padding: 0;
    margin: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#colonne-sortie-action{background: #E8E9ED;}
#colonne-projet{background: #01AAD3;}
#colonne-intervenants{background: #F8E91B;}
#colonne-innovations{background: #F29400;}
#colonne-mini-stage{background: #C8D215;}


/*---------------------------------------------------
LAYOUT POUR NODE.TPL PAGE VDL LISTE ARCHIVE
---------------------------------------------------*/

#pageVdl_col_G1{
    float: left;
    width: 190px;
    background: transparent;
    height: 100%;
    display: table-column;
}
#pageVdl_col_G2{
    float: left;
    width: 555px;
    background: transparent;
    height: 100%;
    display: table-cell;
     border-right: 1px solid #ADC821;
     border-left: 1px solid #91127D;
     padding: 5px;
}
#pageVdl_col_G3{
    float: left;
    padding: 5px;
    width: 210px;
    background: transparent;
    height: 100%;
    display: table-cell;
}
/*\\\\\\\\\\\\\//////////////////
---------------------------------------------------
LAYOUT POUR PAGE.TPL WEBFORM
---------------------------------------------------*/

/*inner content*/
#content-inner-webform{
    width:auto;
    margin:0 auto;
    float:left;

}
/*///    partie du centre   ///*/
#middle-content-webform{
	float:left;
	position:relative;
	background-color:transparent;
	width:auto;
	padding:5px;
}
/*---------------------------------------------------
LAYOUT POUR NODE.TPL WEBFORM
---------------------------------------------------*/

#webform_col_G1{
    float: left;
    width: 190px;
    background: transparent;
    height: 100%;
    display: table-column;
}
#webform_col_G2{
    float: left;
    width: 555px;
    background: transparent;
    height: 100%;
    display: table-cell;
     border-right: 1px solid #ADC821;
     border-left: 1px solid #91127D;
     padding: 5px;
}
#webform_col_G3{
    float: left;
    padding: 5px;
    width: 210px;
    background: transparent;
    height: 100%;
    display: table-cell;
}
/*---------------------------------------------------
LAYOUT POUR PAGE.TPL PAGE VUE BLOC POLES
---------------------------------------------------*/
#content-inner-pole{
    width: auto;
    margin:0;
    float:left;
    background-color:transparent;
}
#middle-content-pole{
    width: auto;
    padding: 5px;
    float: left;

}
#bloc-gauche-pole{
    width: 325px;
    float: left;
    margin: 0;
    padding: 0;
}
#bloc-centre-pole{
    width: 325px;
    float: left;
    margin: 0;
    padding: 0;
}
#bloc-droit-pole{
    width: 325px;
    float: left;
    margin: 0;
    padding: 0;
}
/*---------------------------------------------------
LAYOUT POUR PAGE.TPL FICHE FORMATION
---------------------------------------------------*/
#content-inner-fiche-formation{
    width:auto;
    margin:0 auto;
    float:left;
}
.middle-fiche-formation{}
#colonne-fiche-formation{
    float: right;
    width: 430px;
    background: transparent
}
#colonne-intro-complement{
    float: left;
    width: 350px;
    background: #EFEFEF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#colonne-infos-vdl{
    float: left;
    width: 200px;
}